<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile card Jelte</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">

    <!-- Default Meta tags -->
    <meta name="description" content="Profile card of Jelte from HVA. Here you can see some information about myself and how to contact me.">
    <meta name="keywords" content="Profile card, HTML, CSS, JavaScript, Jelte">
    <meta name="author" content="Jelte">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="3 month">
    <meta name="language" content="English">

    <!-- Open Graph / Facebook -->

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://driezie.studio/">
    <meta property="og:title" content="Profile card of Jelte">
    <meta property="og:description" content="Profile card of Jelte from HVA. Here you can see some information about myself and how to contact me.">

    <!-- Twitter -->

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://driezie.studio/">
    <meta property="twitter:title" content="Profile card of Jelte">
    <meta property="twitter:description" content="Profile card of Jelte from HVA. Here you can see some information about myself and how to contact me.">

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">



  </head>
  <body>